openapi: 3.1.0
info:
  title: AgenticAdvertising.org Registry API
  description: |-
    REST API for the AgenticAdvertising.org registry. Resolve brands,
    discover properties, look up agents, and validate authorization in the
    AdCP ecosystem.

    Most endpoints are public and require no authentication. Endpoints marked
    with a lock icon accept either an organization API key or a user JWT
    obtained via the OAuth 2.1 flow — see [Authentication](https://agenticadvertising.org/docs/registry/index#authentication).

    **Base URL:** `https://agenticadvertising.org`
  version: 1.0.0
  contact:
    name: AgenticAdvertising.org
    url: https://agenticadvertising.org
servers:
  - url: https://agenticadvertising.org
    description: Production
security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |-
        Bearer token in the `Authorization` header. Two token types are accepted:

        - **Organization API key** (`sk_...`) issued via the dashboard. Org-scoped, long-lived, for server-to-server use.
        - **User JWT** obtained via the OAuth 2.1 authorization code flow with PKCE. User-scoped, short-lived. Discover the authorization server at `/.well-known/oauth-authorization-server` and the protected-resource metadata at `/.well-known/oauth-protected-resource/api`.
    oauth2:
      type: oauth2
      description: OAuth 2.1 authorization code flow with PKCE. Users authenticate via AuthKit and clients receive a Bearer JWT that authorizes both the MCP endpoint and this REST API. Dynamic client registration is supported at `/register`.
      flows:
        authorizationCode:
          authorizationUrl: https://agenticadvertising.org/authorize
          tokenUrl: https://agenticadvertising.org/token
          refreshUrl: https://agenticadvertising.org/token
          scopes:
            openid: User identifier
            profile: User profile information
            email: User email address
  schemas:
    BrandEventPayload:
      type: object
      properties:
        domain:
          type: string
          description: Brand domain; brand.* events are identified by entity_id (the brand) and carry hierarchy context here.
        chain:
          type: array
          items:
            type: object
            additionalProperties: {}
          description: "On brand.resolved/hierarchy_updated: the resolved brand chain (root → leaf)."
        ancestor_domains:
          type: array
          items:
            type: string
        domains:
          type: array
          items:
            type: string
    ResolvedBrand:
      type: object
      properties:
        canonical_id:
          type: string
          example: acmecorp.com
        canonical_domain:
          type: string
          example: acmecorp.com
        brand_name:
          type: string
          example: Acme Corp
        names:
          type: array
          items:
            $ref: "#/components/schemas/LocalizedName"
        keller_type:
          type: string
          enum:
            - master
            - sub_brand
            - endorsed
            - independent
        parent_brand:
          type: string
        house_domain:
          type: string
        claimed_house_domain:
          type: string
          description: House the requested domain claims. This field never extends trust on its own; `relationship_trust` reports whether the reciprocal declaration is current enough to do so.
        house_name:
          type: string
        relationship_trust:
          type: string
          enum:
            - inline
            - mutual
            - leaf_only
            - house_only
            - standalone
            - unverifiable
          description: "How the brand-to-house relationship was established. `inline`: the house's own document defines the brand. `mutual`: both sides publish the relationship — the trust-extending edge. `leaf_only`: the brand claims a house whose reciprocal declaration is missing, not yet active, or too old to extend trust. `house_only`: a house claims the brand, which has not reciprocated. `standalone`: the brand claims no house. `unverifiable`: a claimed house could not be checked."
        relationship_verified_at:
          type: string
          format: date-time
          description: When both sides of a mutual relationship were last seen agreeing. Present only for `mutual`, and it does not advance while the house side is unreachable, so callers can apply their own edge-aging policy.
          example: 2026-07-28T12:00:00Z
        relationship_declared_at:
          type: string
          format: date-time
          description: When the house declared the relationship in `brand_refs[].effective_at`, or the resolver's durable first observation if the publisher omitted that field. Callers can apply a declaration-age ceiling independently of `relationship_verified_at`.
          example: 2026-01-29T12:00:00Z
        promoted_from_schema:
          type: string
          description: Set when a pre-v3 document was promoted to a canonical v3 document for this response. Identity only — legacy relationship data is preserved opaquely, never promoted to a trust claim.
        migration_warnings:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
              suggestion:
                type: string
            required:
              - field
              - message
          description: Loss or ambiguity encountered while promoting a pre-v3 document. A `house` warning means the legacy house object was preserved only as opaque metadata and did not establish a trusted relationship.
        brand_agent_url:
          type: string
        brand_manifest:
          type: object
          additionalProperties: {}
        source:
          type: string
          enum:
            - hosted
            - brand_json
            - community
            - enriched
            - stub
          description: "Provenance of the selected record, not relationship authorization. Deterministic precedence is `hosted` > `brand_json` > `community` > `enriched` > `stub`; normal reads prefer the durable stored winner on a source tie, while `fresh=true` lets a successful live origin read win a tie. `brand_json`: the domain's own /.well-known/brand.json. `hosted`: registered by an owner whose control of the domain was verified. `community`: contributed by a member. `enriched`: third-party enrichment. `stub`: a minimal organization-derived placeholder awaiting stronger evidence."
        live_brand_json:
          type: object
          properties:
            valid:
              type: boolean
            url:
              type: string
            status_code:
              type: integer
            errors:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
                  severity:
                    type: string
                    enum:
                      - error
                required:
                  - field
                  - message
                  - severity
            warnings:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
                  suggestion:
                    type: string
                required:
                  - field
                  - message
          required:
            - valid
            - url
            - errors
            - warnings
          description: This request's origin-validation diagnostics when `fresh=true` falls back to a stored registry record. Presence means the response is stored evidence, not a successful live-origin read.
      required:
        - canonical_id
        - canonical_domain
        - brand_name
        - source
    LocalizedName:
      type: object
      additionalProperties:
        type: string
    Error:
      type: object
      properties:
        error:
          type: string
      required:
        - error
    BrandRegistryItem:
      type: object
      properties:
        domain:
          type: string
          example: acmecorp.com
        brand_name:
          type: string
          example: Acme Corp
        source:
          type: string
          enum:
            - hosted
            - brand_json
            - community
            - enriched
            - stub
        has_manifest:
          type: boolean
        verified:
          type: boolean
        house_domain:
          type: string
        keller_type:
          type: string
          enum:
            - master
            - sub_brand
            - endorsed
            - independent
        relationship_trust:
          type: string
          enum:
            - inline
            - mutual
            - leaf_only
            - house_only
            - standalone
            - unverifiable
          description: Trust verdict for the brand-to-house relationship, cached from the last crawler resolution. Absent means not yet computed — absent MUST NOT be interpreted as `standalone`.
        relationship_verified_at:
          type: string
          format: date-time
          description: When the mutual-assertion edge was last confirmed by both sides. Present only when relationship_trust is `mutual`.
        claimed_house_domain:
          type: string
          description: Unilateral parent claim from the brand's own document. Not trust-extending. Present for `leaf_only` and `unverifiable`.
      required:
        - domain
        - source
        - has_manifest
        - verified
    BrandActivity:
      type: object
      properties:
        domain:
          type: string
          example: acmecorp.com
        total:
          type: integer
          example: 3
        revisions:
          type: array
          items:
            type: object
            properties:
              revision_number:
                type: integer
                example: 3
              editor_name:
                type: string
                example: Pinnacle Media
              edit_summary:
                type: string
                example: Updated logo and brand colors
              source:
                type: string
                description: Source type of the record at the time of this revision (brand_json, enriched, community)
              is_rollback:
                type: boolean
              rolled_back_to:
                type: integer
                description: Revision number that was restored; only present when is_rollback is true
              created_at:
                type: string
                example: 2026-03-01T12:34:56Z
            required:
              - revision_number
              - editor_name
              - edit_summary
              - is_rollback
              - created_at
      required:
        - domain
        - total
        - revisions
    PropertyActivity:
      type: object
      properties:
        domain:
          type: string
          example: examplepub.com
        total:
          type: integer
          example: 3
        revisions:
          type: array
          items:
            type: object
            properties:
              revision_number:
                type: integer
                example: 3
              editor_name:
                type: string
                example: Pinnacle Media
              edit_summary:
                type: string
                example: Updated logo and brand colors
              source:
                type: string
                description: Source type of the record at the time of this revision (brand_json, enriched, community)
              is_rollback:
                type: boolean
              rolled_back_to:
                type: integer
                description: Revision number that was restored; only present when is_rollback is true
              created_at:
                type: string
                example: 2026-03-01T12:34:56Z
            required:
              - revision_number
              - editor_name
              - edit_summary
              - is_rollback
              - created_at
      required:
        - domain
        - total
        - revisions
    ResolvedProperty:
      type: object
      properties:
        publisher_domain:
          type: string
          example: examplepub.com
        source:
          type: string
          enum:
            - adagents_json
            - hosted
            - discovered
        authorized_agents:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              authorized_for:
                type: string
            required:
              - url
        properties:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              name:
                type: string
              identifiers:
                type: array
                items:
                  $ref: "#/components/schemas/PropertyIdentifier"
              tags:
                type: array
                items:
                  type: string
        contact:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
        verified:
          type: boolean
      required:
        - publisher_domain
        - source
        - verified
    PropertyIdentifier:
      type: object
      properties:
        type:
          type: string
          example: domain
        value:
          type: string
          example: examplepub.com
      required:
        - type
        - value
    PropertyRegistryItem:
      type: object
      properties:
        domain:
          type: string
          example: examplepub.com
        source:
          type: string
          enum:
            - adagents_json
            - hosted
            - community
            - discovered
            - enriched
        property_count:
          type: integer
        agent_count:
          type: integer
        verified:
          type: boolean
      required:
        - domain
        - source
        - property_count
        - agent_count
        - verified
    ValidationResult:
      type: object
      properties:
        valid:
          type: boolean
        domain:
          type: string
        url:
          type: string
        errors:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string
        status_code:
          type: integer
        raw_data:
          type: object
          additionalProperties: {}
      required:
        - valid
    FederatedAgentWithDetails:
      type: object
      properties:
        url:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
            - brand
            - rights
            - measurement
            - governance
            - creative
            - sales
            - buying
            - signals
            - unknown
        protocol:
          type: string
          enum:
            - mcp
            - a2a
        description:
          type: string
        mcp_endpoint:
          type: string
        contact:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            website:
              type: string
          required:
            - name
            - email
            - website
        added_date:
          type: string
        member:
          type: object
          properties:
            slug:
              type: string
            display_name:
              type: string
            membership_tier:
              type: string
              description: Raw AAO membership tier enum (e.g. `individual_professional`, `company_leader`). Present only when the profile owner has set their member card to public (`is_public=true`) AND the org has a resolvable tier. Absent for private profiles and for orgs without an active tier-bearing subscription.
            membership_tier_label:
              type: string
              description: Human-readable label for `membership_tier` (e.g. `Professional`, `Partner`, `Leader`). Matches the AAO pricing page. Use this for UI display; the raw enum is for programmatic gating. Presence rules match `membership_tier`.
            is_founding_member:
              type: boolean
              description: True when the profile owner carries the Founding Member badge (joined before the founding-cohort cutoff). Surfaced when the profile owner has set their member card to public (`is_public=true`). Absent for private profiles. Founding Member is orthogonal to tier — founding orgs typically display both (e.g. Scope3 shows `Partner` + `Founding Member`).
          description: AAO member that owns this agent record. The registry contains only agents that members have explicitly enrolled on their member profile.
        health:
          $ref: "#/components/schemas/AgentHealth"
        stats:
          $ref: "#/components/schemas/AgentStats"
        capabilities:
          $ref: "#/components/schemas/AgentCapabilities"
        compliance:
          $ref: "#/components/schemas/AgentCompliance"
        publisher_domains:
          type: array
          items:
            type: string
        property_summary:
          $ref: "#/components/schemas/PropertySummary"
      required:
        - url
        - name
        - type
    AgentHealth:
      type: object
      properties:
        online:
          type: boolean
        checked_at:
          type: string
        response_time_ms:
          type: number
        tools_count:
          type: integer
        resources_count:
          type: integer
        error:
          type: string
      required:
        - online
        - checked_at
    AgentStats:
      type: object
      properties:
        property_count:
          type: integer
        publisher_count:
          type: integer
        publishers:
          type: array
          items:
            type: string
        creative_formats:
          type: integer
    AgentCapabilities:
      type: object
      properties:
        tools_count:
          type: integer
        tools:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
            required:
              - name
              - description
        standard_operations:
          type: object
          properties:
            can_search_inventory:
              type: boolean
            can_get_availability:
              type: boolean
            can_reserve_inventory:
              type: boolean
            can_get_pricing:
              type: boolean
            can_create_order:
              type: boolean
            can_list_properties:
              type: boolean
          required:
            - can_search_inventory
            - can_get_availability
            - can_reserve_inventory
            - can_get_pricing
            - can_create_order
            - can_list_properties
        creative_capabilities:
          type: object
          properties:
            supported_formats:
              type: array
              items:
                type: object
                properties:
                  capability_id:
                    type: string
                  format:
                    type: object
                    properties:
                      format_kind:
                        type: string
                      publisher_domain:
                        type: string
                      format_option_id:
                        type: string
                      params:
                        type: object
                        additionalProperties: {}
                    required:
                      - format_kind
                    additionalProperties: {}
                  operations:
                    type: array
                    items:
                      type: string
                      enum:
                        - build
                        - validate
                        - preview
                    minItems: 1
                required:
                  - format
                  - operations
                additionalProperties: {}
            can_generate:
              type: boolean
            can_validate:
              type: boolean
            can_preview:
              type: boolean
          required:
            - supported_formats
            - can_generate
            - can_validate
            - can_preview
          additionalProperties: {}
        signals_capabilities:
          type: object
          properties:
            audience_types:
              type: array
              items:
                type: string
            can_match:
              type: boolean
            can_activate:
              type: boolean
            can_get_signals:
              type: boolean
          required:
            - audience_types
            - can_match
            - can_activate
            - can_get_signals
        measurement_capabilities:
          type: object
          properties:
            metrics:
              type: array
              items:
                type: object
                properties:
                  metric_id:
                    type: string
                  standard_reference:
                    type: string
                  accreditations:
                    type: array
                    items:
                      type: object
                      properties:
                        accrediting_body:
                          type: string
                        certification_id:
                          type: string
                        valid_until:
                          type: string
                        evidence_url:
                          type: string
                        verified_by_aao:
                          type: boolean
                          enum:
                            - false
                          description: Always `false` — accreditation claims are vendor-asserted. AAO does not independently verify; renderers should mark these as vendor claims.
                      required:
                        - accrediting_body
                        - verified_by_aao
                  unit:
                    type: string
                  description:
                    type: string
                  methodology_url:
                    type: string
                  methodology_version:
                    type: string
                required:
                  - metric_id
          required:
            - metrics
          description: Vendor-published per-metric catalog for measurement agents. Populated when the crawler successfully fetched and validated `get_adcp_capabilities.measurement` (AdCP 3.x). Mirrors the protocol shape — see the AdCP `get_adcp_capabilities` reference for field semantics.
      required:
        - tools_count
    AgentCompliance:
      type: object
      properties:
        status:
          type: string
          enum:
            - passing
            - degraded
            - failing
            - unknown
        requested_compliance_target:
          type:
            - string
            - "null"
          description: Requested compliance target before alias resolution, e.g. 3.0 or 3.1-beta.
        adcp_version:
          type:
            - string
            - "null"
          description: Concrete AdCP compliance bundle version used for the latest run, e.g. 3.0.12.
        lifecycle_stage:
          type: string
          enum:
            - development
            - testing
            - production
            - deprecated
        tracks:
          type: object
          additionalProperties:
            type: string
          example:
            core: pass
            products: fail
        track_details:
          type: array
          items:
            type: object
            properties:
              track:
                type: string
              status:
                type: string
              scenario_count:
                type: integer
              passed_count:
                type: integer
              duration_ms:
                type: number
              has_coverage_gap_skip:
                type: boolean
            required:
              - track
              - status
              - scenario_count
              - passed_count
              - duration_ms
          description: Latest-run per-track summary. Skipped tracks with has_coverage_gap_skip=true represent selected coverage gaps, such as missing_test_controller.
        streak_days:
          type: integer
        last_checked_at:
          type:
            - string
            - "null"
        headline:
          type:
            - string
            - "null"
        monitoring_paused:
          type: boolean
        check_interval_hours:
          type: integer
        verified:
          type: boolean
        verified_roles:
          type: array
          items:
            $ref: "#/components/schemas/BadgeRole"
          description: Canonical badge roles the agent is AgenticAdvertising.org Verified for (e.g. media-buy, creative).
        verified_role_versions:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: "Active AgenticAdvertising.org Verified AdCP releases for each verified role, keyed by canonical badge role and sorted newest-first (e.g. { media-buy: ['3.1', '3.0'] }). Use this when choosing a version-pinned badge URL."
      required:
        - status
        - lifecycle_stage
        - tracks
        - streak_days
        - last_checked_at
        - headline
    BadgeRole:
      type: string
      enum:
        - media-buy
        - creative
        - signals
        - governance
        - brand
        - sponsored-intelligence
    PropertySummary:
      type: object
      properties:
        total_count:
          type: integer
        count_by_type:
          type: object
          additionalProperties:
            type: integer
        tags:
          type: array
          items:
            type: string
        publisher_count:
          type: integer
      required:
        - total_count
        - count_by_type
        - tags
        - publisher_count
    FederatedPublisher:
      type: object
      properties:
        domain:
          type: string
        member:
          type: object
          properties:
            slug:
              type: string
            display_name:
              type: string
            membership_tier:
              type: string
              description: Raw AAO membership tier enum (e.g. `individual_professional`, `company_leader`). Present only when the profile owner has set their member card to public (`is_public=true`) AND the org has a resolvable tier. Absent for private profiles and for orgs without an active tier-bearing subscription.
            membership_tier_label:
              type: string
              description: Human-readable label for `membership_tier` (e.g. `Professional`, `Partner`, `Leader`). Matches the AAO pricing page. Use this for UI display; the raw enum is for programmatic gating. Presence rules match `membership_tier`.
            is_founding_member:
              type: boolean
              description: True when the profile owner carries the Founding Member badge (joined before the founding-cohort cutoff). Surfaced when the profile owner has set their member card to public (`is_public=true`). Absent for private profiles. Founding Member is orthogonal to tier — founding orgs typically display both (e.g. Scope3 shows `Partner` + `Founding Member`).
        agent_count:
          type: integer
        last_validated:
          type: string
        has_valid_adagents:
          type: boolean
      required:
        - domain
    DomainLookupResult:
      type: object
      properties:
        domain:
          type: string
          example: examplepub.com
        authorized_agents:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              authorized_for:
                type: string
              member:
                type: object
                properties:
                  slug:
                    type: string
                  display_name:
                    type: string
                  membership_tier:
                    type: string
                    description: Raw AAO membership tier enum (e.g. `individual_professional`, `company_leader`). Present only when the profile owner has set their member card to public (`is_public=true`) AND the org has a resolvable tier. Absent for private profiles and for orgs without an active tier-bearing subscription.
                  membership_tier_label:
                    type: string
                    description: Human-readable label for `membership_tier` (e.g. `Professional`, `Partner`, `Leader`). Matches the AAO pricing page. Use this for UI display; the raw enum is for programmatic gating. Presence rules match `membership_tier`.
                  is_founding_member:
                    type: boolean
                    description: True when the profile owner carries the Founding Member badge (joined before the founding-cohort cutoff). Surfaced when the profile owner has set their member card to public (`is_public=true`). Absent for private profiles. Founding Member is orthogonal to tier — founding orgs typically display both (e.g. Scope3 shows `Partner` + `Founding Member`).
            required:
              - url
        sales_agents_claiming:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              member:
                type: object
                properties:
                  slug:
                    type: string
                  display_name:
                    type: string
                  membership_tier:
                    type: string
                    description: Raw AAO membership tier enum (e.g. `individual_professional`, `company_leader`). Present only when the profile owner has set their member card to public (`is_public=true`) AND the org has a resolvable tier. Absent for private profiles and for orgs without an active tier-bearing subscription.
                  membership_tier_label:
                    type: string
                    description: Human-readable label for `membership_tier` (e.g. `Professional`, `Partner`, `Leader`). Matches the AAO pricing page. Use this for UI display; the raw enum is for programmatic gating. Presence rules match `membership_tier`.
                  is_founding_member:
                    type: boolean
                    description: True when the profile owner carries the Founding Member badge (joined before the founding-cohort cutoff). Surfaced when the profile owner has set their member card to public (`is_public=true`). Absent for private profiles. Founding Member is orthogonal to tier — founding orgs typically display both (e.g. Scope3 shows `Partner` + `Founding Member`).
            required:
              - url
      required:
        - domain
        - authorized_agents
        - sales_agents_claiming
    OperatorLookupResult:
      type: object
      properties:
        domain:
          type: string
          example: pubmatic.com
        member:
          type:
            - object
            - "null"
          properties:
            slug:
              type: string
            display_name:
              type: string
            membership_tier:
              type: string
              description: Raw AAO membership tier enum (e.g. `individual_professional`, `company_leader`). Present only when the profile owner has set their member card to public (`is_public=true`) AND the org has a resolvable tier. Absent for private profiles and for orgs without an active tier-bearing subscription.
            membership_tier_label:
              type: string
              description: Human-readable label for `membership_tier` (e.g. `Professional`, `Partner`, `Leader`). Matches the AAO pricing page. Use this for UI display; the raw enum is for programmatic gating. Presence rules match `membership_tier`.
            is_founding_member:
              type: boolean
              description: True when the profile owner carries the Founding Member badge (joined before the founding-cohort cutoff). Surfaced when the profile owner has set their member card to public (`is_public=true`). Absent for private profiles. Founding Member is orthogonal to tier — founding orgs typically display both (e.g. Scope3 shows `Partner` + `Founding Member`).
        agents:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              name:
                type: string
              type:
                type: string
                enum:
                  - brand
                  - rights
                  - measurement
                  - governance
                  - creative
                  - sales
                  - buying
                  - signals
                  - unknown
              authorized_by:
                type: array
                items:
                  type: object
                  properties:
                    publisher_domain:
                      type: string
                    authorized_for:
                      type: string
                    source:
                      type: string
                      enum:
                        - adagents_json
                        - agent_claim
                  required:
                    - publisher_domain
                    - source
            required:
              - url
              - name
              - type
              - authorized_by
      required:
        - domain
        - member
        - agents
    PublisherLookupResult:
      type: object
      properties:
        domain:
          type: string
          example: voxmedia.com
        member:
          type:
            - object
            - "null"
          properties:
            slug:
              type: string
            display_name:
              type: string
            membership_tier:
              type: string
              description: Raw AAO membership tier enum (e.g. `individual_professional`, `company_leader`). Present only when the profile owner has set their member card to public (`is_public=true`) AND the org has a resolvable tier. Absent for private profiles and for orgs without an active tier-bearing subscription.
            membership_tier_label:
              type: string
              description: Human-readable label for `membership_tier` (e.g. `Professional`, `Partner`, `Leader`). Matches the AAO pricing page. Use this for UI display; the raw enum is for programmatic gating. Presence rules match `membership_tier`.
            is_founding_member:
              type: boolean
              description: True when the profile owner carries the Founding Member badge (joined before the founding-cohort cutoff). Surfaced when the profile owner has set their member card to public (`is_public=true`). Absent for private profiles. Founding Member is orthogonal to tier — founding orgs typically display both (e.g. Scope3 shows `Partner` + `Founding Member`).
        adagents_valid:
          type:
            - boolean
            - "null"
        discovery_method:
          type:
            - string
            - "null"
          enum:
            - direct
            - authoritative_location
            - ads_txt_managerdomain
            - adagents_authoritative
            - community_catalog
            - null
          description: "How the publisher's adagents.json was discovered on the most recent successful crawl or registry write. `direct`: publisher's own /.well-known/ served the document. `authoritative_location`: publisher's stub redirected to a canonical URL. `ads_txt_managerdomain`: manifest was discovered via ads.txt MANAGERDOMAIN delegation. `adagents_authoritative`: manager file named this publisher through publisher_properties fan-out. `community_catalog`: moderator-approved community catalog. Null until first crawl after migration 470."
        manager_domain:
          type:
            - string
            - "null"
          description: The manager domain whose adagents.json was used to authorize this publisher's agents. Non-null only when `discovery_method` is `ads_txt_managerdomain`. Matches the MANAGERDOMAIN value from the publisher's ads.txt.
        hosting:
          type: object
          properties:
            mode:
              type: string
              enum:
                - self
                - self_invalid
                - aao_hosted
                - self_redirected
                - none
              description: Where this publisher's adagents.json lives. `self` = publisher hosts a valid file at their own /.well-known. `self_invalid` = publisher's /.well-known returns a file that fails validation (fixable misconfiguration, not absence). `aao_hosted` = the publisher hosts a stub at their own /.well-known whose `authoritative_location` points at AAO's canonical document. `self_redirected` = the publisher's stub `authoritative_location` resolves to a third-party HTTPS origin (a CDN, partner CMS, or sibling host) — verifiers should audit the TLS chain at `resolved_url`, not at the publisher's own origin. `none` = no adagents.json configured yet.
            hosted_url:
              type: string
              description: Canonical AAO-hosted adagents.json URL. Present iff `mode === 'aao_hosted'`. Publishers reference this URL from their own /.well-known stub via the `authoritative_location` field (see https://docs.adcontextprotocol.org/docs/governance/property/adagents).
            expected_url:
              type: string
              description: Where adagents.json *should* live for this domain — the publisher's own /.well-known path. Always populated, regardless of `mode`.
            resolved_url:
              type:
                - string
                - "null"
              description: Where the canonical adagents.json document actually lives after following the publisher's `authoritative_location` stub or any HTTP-layer redirects. Populated when `mode === 'self_redirected'` (the third-party HTTPS origin verifiers should audit) and when `mode === 'aao_hosted'` AND the publisher has actively set up the redirect (`authoritative_location` in the manifest body or a network-layer redirect to AAO's hosted URL). NULL when there's no resolved-URL evidence to report.
            last_validated:
              type:
                - string
                - "null"
              description: ISO timestamp of the last successful validation crawl. Lets verifiers sanity-check freshness. NULL when never crawled.
            last_http_status:
              type:
                - integer
                - "null"
              minimum: 100
              maximum: 599
              description: HTTP status code returned by AAO's most recent fetch attempt of the publisher's `/.well-known/adagents.json`. Verifier-grade chrome — lets a buy-side scraper confirm they see the same response AAO does. NULL until the first crawl records or for transient errors that never produced an HTTP response.
            last_bytes:
              type:
                - integer
                - "null"
              minimum: 0
              description: Response body byte length from the most recent fetch (post-decompression). When `authoritative_location` was followed, measures the canonical document body, not the stub. NULL until the first crawl records.
            origin_verified_at:
              type:
                - string
                - "null"
              description: ISO timestamp of the last successful origin verification — AAO fetched the publisher's own /.well-known/adagents.json and confirmed `authoritative_location` points at our hosted URL. When set, the publisher's authorization rows have been promoted to `source='adagents_json'` (origin-attested). NULL when never verified or last attempt failed. Only populated when `mode === 'aao_hosted'`.
            origin_last_checked_at:
              type:
                - string
                - "null"
              description: ISO timestamp of the last verification attempt regardless of result. Lets a caller render "checked X minutes ago, not yet verified" vs "never checked." Only populated when `mode === 'aao_hosted'`.
          required:
            - mode
            - expected_url
        files:
          type: object
          properties:
            adagents_json:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - valid
                    - community
                    - invalid
                    - unknown
                    - checking
                  description: What we know about the publisher's adagents.json right now. `valid` = crawler fetched a parsing-and-shape-valid file from the publisher origin. `community` = moderators approved a community adagents.json catalog for this domain. `invalid` = crawler fetched a file that failed validation. `unknown` = never crawled or last result is stale. `checking` = an auto-crawl was kicked off by this request; the page should poll for fresh data shortly.
                expected_url:
                  type: string
                  description: Where adagents.json should live on the publisher's own origin.
                registry_url:
                  type: string
                  description: Registry-served adagents.json URL when the document is community or AgenticAdvertising.org hosted rather than served by the publisher origin.
              required:
                - status
                - expected_url
            brand_json:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - present
                    - unknown
                    - checking
                  description: What we know about the publisher's brand.json. `present` = a brand record with manifest data exists. `unknown` = no record yet. `checking` = an auto-crawl was kicked off.
                name:
                  type: string
              required:
                - status
          required:
            - adagents_json
            - brand_json
          description: Plain-English summary of what AAO has found at the publisher's origin. The publisher page leads with this — `you have a valid adagents.json` is the primary signal, not `mode === self`. Optional in the schema for backwards compatibility; the handler always populates it.
        properties:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              name:
                type: string
              identifiers:
                type: array
                items:
                  $ref: "#/components/schemas/PropertyIdentifier"
              tags:
                type: array
                items:
                  type: string
                description: Arbitrary string tags on this property. The `relationship:` prefix tag (e.g. `relationship:owned`) is deprecated in favour of the `delegation_type` field and will be removed in a future release.
              source:
                type: string
                enum:
                  - adagents_json
                  - community
                  - discovered
                  - brand_json
                description: Where this property came from. `adagents_json` comes from the publisher's own adagents.json, `community` from an approved community adagents.json catalog, `discovered` from crawler or third-party signals, and `brand_json` from the publisher's brand.json when no federated-index data exists yet.
              delegation_type:
                type: string
                enum:
                  - direct
                  - delegated
                  - ad_network
                description: "Delegation relationship declared in brand.json. Populated only when `source` is `brand_json` — for `adagents_json` and `discovered` sources the authoritative value is on the matching `authorized_agents` entry. Mirrors adagents.json `delegation_type` for bilateral verification: `direct` = publisher treats this as a direct buying path, even if a third party operates the software; `delegated` = a rep firm or manager is authorized to sell on the publisher's behalf (operator-declared, unilateral until corroborated by the publisher's adagents.json); `ad_network` = sold as part of a network/exchange package. `owned` properties have no `delegation_type` — ownership is implicit and has no adagents.json counterpart."
        brand:
          type: object
          properties:
            name:
              type: string
              description: Display name from brand.json or the registered brand row.
            description:
              type: string
              description: Short brand or house description when present in brand.json.
            logo_url:
              type: string
              description: First usable logo URL from brand.json.
            colors:
              type: array
              items:
                type: string
              description: Representative hex colors from brand.json, capped for display.
            industries:
              type: array
              items:
                type: string
              description: Industry labels from brand.json when present.
          description: Display-oriented brand identity summary from brand.json. The full raw document remains available from the publisher's /.well-known/brand.json or hosted registry URL.
        formats:
          type: array
          items:
            type: object
            properties:
              format_option_id:
                type: string
                description: Stable format option identifier from adagents.json `formats[]`.
              display_name:
                type: string
                description: Human-readable format label for catalog and publisher UI display.
              format_kind:
                type: string
                description: Canonical format discriminator, such as `image`, `video_hosted`, `native_in_feed`, or `custom`.
              sample_render_url:
                type: string
                pattern: ^https:\/\/
                description: Optional public HTTPS page where a human can inspect a sample render of this catalog format using publisher- or community-mirror-provided example assets. Informational only; this is not a renderer endpoint, buyer-asset preview, validation result, creative approval, proof of publisher acceptance, or live delivery guarantee.
              params:
                type: object
                additionalProperties: {}
                description: Canonical format params from the publisher's adagents.json declaration.
              applies_to_property_ids:
                type: array
                items:
                  type: string
                description: Property IDs this format applies to; absent means all properties.
              applies_to_property_tags:
                type: array
                items:
                  type: string
                description: Property tags this format applies to; absent means all properties.
              seller_preference:
                type: string
                description: Seller preference hint from the format declaration, when present.
              experimental:
                type: boolean
                description: Whether this seller's format declaration is marked experimental.
            required:
              - display_name
              - format_kind
          description: Lossy display-oriented summary of top-level adagents.json `formats[]`, normalized for publisher pages and eligibility discovery. It preserves `format_kind`, `format_option_id`, params, property scope, preference, and experimental status, but omits `reference_renderer`, `v1_format_ref`, `canonical_formats_only`, `applies_to_channels`, `publisher_domain`, and custom `format_shape`/`format_schema`. Fetch the canonical document at hosting.resolved_url (or hosting.expected_url when self-hosted) for creative validation or reference-renderer discovery.
        placements:
          type: array
          items:
            type: object
            properties:
              placement_id:
                type: string
              name:
                type: string
              description:
                type: string
              property_ids:
                type: array
                items:
                  type: string
              property_tags:
                type: array
                items:
                  type: string
              collection_ids:
                type: array
                items:
                  type: string
              channels:
                type: array
                items:
                  type: string
              tags:
                type: array
                items:
                  type: string
              format_options:
                type: array
                items:
                  type: object
                  properties:
                    format_option_id:
                      type: string
                    format_kind:
                      type: string
                      description: Resolved canonical format kind accepted by this placement.
                    params:
                      type: object
                      additionalProperties: {}
                      description: Resolved canonical narrowing for this placement format.
                  required:
                    - format_kind
                description: Placement format references resolved against the same response's top-level formats plus any inline canonical declarations.
              source:
                type: string
                enum:
                  - adagents_json
                  - community
                description: Publisher-origin placements are adagents_json; moderator-maintained catalog placements are community.
            required:
              - placement_id
              - name
              - source
          description: Eligibility-oriented publisher placement summaries. Present only when the request includes `include=placements`; format references are resolved to canonical kind/params so callers can join property → placement → format without a second origin fetch. The lossy summary omits placement `presentation_ref` and `preview_provider`; fetch the resolved raw adagents.json for publisher presentation metadata and preview delegation.
        authorized_agents:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              authorized_for:
                type: string
              source:
                type: string
                enum:
                  - adagents_json
                  - aao_hosted
                  - agent_claim
                description: "How strongly this authorization is attested. `adagents_json`: the publisher's origin actually serves a valid adagents.json (origin-verified). `aao_hosted`: AAO is hosting the canonical document on the publisher's behalf — represents publisher intent but origin has NOT been verified to redirect to AAO. `agent_claim`: the agent claimed it; publisher has not confirmed."
              properties_authorized:
                type: integer
                minimum: 0
                description: Count of this publisher's properties the agent is authorized to sell. Absent when `rollup_truncated` is set (call `/api/registry/publisher/authorization` for the per-agent count) or when properties are entirely brand.json-hydrated (no adagents.json claim has actually been made about them).
              properties_total:
                type: integer
                minimum: 0
                description: Total number of properties this publisher exposes through the registry. Same value across all agents in the response. Absent when `properties_authorized` is absent.
              publisher_wide:
                type: boolean
                description: True when the agent has only a publisher-wide authorization row and `properties_authorized` was synthesized as `properties_total`. False when the agent has property-level authorization rows. Absent when the rollup is absent.
            required:
              - url
              - source
        rollup_truncated:
          type: object
          properties:
            cap:
              type: integer
              exclusiveMinimum: 0
              description: Maximum number of agents for which the rollup is computed in a single response.
            total_agents:
              type: integer
              minimum: 0
              description: Total authorized-agent count for this publisher (the full population the cap was applied to).
          required:
            - cap
            - total_agents
          description: Set when the publisher has more authorized agents than the per-agent rollup cap. Above the cap, agents beyond `cap` are returned without `properties_authorized` / `properties_total` / `publisher_wide`; call `/api/registry/publisher/authorization?domain=X&agent=Y` for the per-agent count. Lets a caller decide whether to fan out individual calls or stop reading.
        auto_crawl_triggered:
          type: boolean
          description: Set to `true` when this request triggered a background crawl of the publisher's origin (we hadn't crawled before). The client should refetch in ~3-5s to pick up fresh data. Debounced per-domain so a tight refresh loop won't keep firing crawls.
      required:
        - domain
        - member
        - adagents_valid
        - hosting
        - properties
        - authorized_agents
    PublisherPropertySelector:
      type: object
      properties:
        publisher_domain:
          type: string
          example: examplepub.com
        property_types:
          type: array
          items:
            type: string
        property_ids:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
    CreateAdagentsResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        data:
          type: object
          properties:
            success:
              type: boolean
              enum:
                - true
            adagents_json:
              type: string
              description: Pretty-printed adagents.json document generated by the service.
            validation:
              $ref: "#/components/schemas/AdagentsValidationResult"
          required:
            - success
            - adagents_json
            - validation
        timestamp:
          type: string
          format: date-time
      required:
        - success
        - data
        - timestamp
    AdagentsValidationResult:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            $ref: "#/components/schemas/AdagentsValidationIssue"
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/AdagentsValidationWarning"
        domain:
          type: string
        url:
          type: string
        status_code:
          type: integer
        response_bytes:
          type: integer
          minimum: 0
        resolved_url:
          type: string
        raw_data: {}
        discovery_method:
          type: string
          enum:
            - direct
            - authoritative_location
            - ads_txt_managerdomain
            - adagents_authoritative
        manager_domain:
          type: string
      required:
        - valid
        - errors
        - warnings
        - domain
        - url
        - discovery_method
    AdagentsValidationIssue:
      type: object
      properties:
        field:
          type: string
        message:
          type: string
        severity:
          type: string
          enum:
            - error
      required:
        - field
        - message
        - severity
    AdagentsValidationWarning:
      type: object
      properties:
        field:
          type: string
        message:
          type: string
        suggestion:
          type: string
      required:
        - field
        - message
    AdagentsAuthorizedAgent:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Agent endpoint URL.
        authorized_for:
          type: string
        authorization_type:
          type: string
          enum:
            - property_ids
            - property_tags
            - inline_properties
            - publisher_properties
            - signal_ids
            - signal_tags
        property_ids:
          type: array
          items:
            type: string
        property_tags:
          type: array
          items:
            type: string
        properties:
          type: array
          items:
            type: object
            additionalProperties: {}
            description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
        publisher_properties:
          type: array
          items:
            type: object
            properties:
              publisher_domain:
                type: string
              publisher_domains:
                type: array
                items:
                  type: string
              selection_type:
                type: string
                enum:
                  - all
                  - by_id
                  - by_tag
              property_ids:
                type: array
                items:
                  type: string
              property_tags:
                type: array
                items:
                  type: string
            required:
              - selection_type
        collections:
          type: array
          items:
            type: object
            properties:
              publisher_domain:
                type: string
              collection_ids:
                type: array
                items:
                  type: string
                minItems: 1
            required:
              - publisher_domain
        placement_ids:
          type: array
          items:
            type: string
        placement_tags:
          type: array
          items:
            type: string
        delegation_type:
          type: string
          enum:
            - direct
            - delegated
            - ad_network
        exclusive:
          type: boolean
        countries:
          type: array
          items:
            type: string
        effective_from:
          type: string
        effective_until:
          type: string
        signal_ids:
          type: array
          items:
            type: string
        signal_tags:
          type: array
          items:
            type: string
        signing_keys:
          type: array
          items:
            type: object
            additionalProperties: {}
      required:
        - url
      additionalProperties: {}
    CommunityMirrorProposalListResponse:
      type: object
      properties:
        proposals:
          type: array
          items:
            $ref: "#/components/schemas/CommunityMirrorProposalSummary"
        total:
          type: integer
          minimum: 0
      required:
        - proposals
        - total
    CommunityMirrorProposalSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Opaque identifier for the proposal.
          example: 4ec8bc86-6180-4d0e-aa72-9cbf402d3638
        platform:
          type: string
          pattern: ^[a-z0-9_-]{1,64}$
          description: Lowercase platform identifier, normalized by the service.
          example: example_platform
        catalog_etag:
          type:
            - string
            - "null"
        superseded_by:
          type:
            - string
            - "null"
          pattern: ^https:\/\/
          description: HTTPS URL.
        proposal_digest:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: SHA-256 digest that reviewers must echo when approving or rejecting this exact revision.
        base_mirror_digest:
          type:
            - string
            - "null"
          pattern: ^[a-f0-9]{64}$
          description: Digest of the public mirror state this proposal was reviewed against, or null when none existed.
        status:
          type: string
          enum:
            - pending
            - approved
            - rejected
        proposed_at:
          type: string
          format: date-time
        reviewed_at:
          type:
            - string
            - "null"
          format: date-time
        published_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - platform
        - catalog_etag
        - superseded_by
        - proposal_digest
        - base_mirror_digest
        - status
        - proposed_at
        - reviewed_at
        - published_at
        - updated_at
    RateLimitError:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        retryAfter:
          type: integer
          description: Seconds to wait before retrying.
      required:
        - error
    CommunityMirrorProposalGetResponse:
      type: object
      properties:
        proposal:
          $ref: "#/components/schemas/CommunityMirrorProposal"
      required:
        - proposal
    CommunityMirrorProposal:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Opaque identifier for the proposal.
          example: 4ec8bc86-6180-4d0e-aa72-9cbf402d3638
        platform:
          type: string
          pattern: ^[a-z0-9_-]{1,64}$
          description: Lowercase platform identifier, normalized by the service.
          example: example_platform
        adagents_json:
          $ref: "#/components/schemas/CommunityMirrorAdagentsJson"
        catalog_etag:
          type:
            - string
            - "null"
        superseded_by:
          type:
            - string
            - "null"
          pattern: ^https:\/\/
          description: HTTPS URL.
        proposal_digest:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: SHA-256 digest that reviewers must echo when approving or rejecting this exact revision.
        base_mirror_digest:
          type:
            - string
            - "null"
          pattern: ^[a-f0-9]{64}$
          description: Digest of the public mirror state this proposal was reviewed against, or null when none existed.
        status:
          type: string
          enum:
            - pending
            - approved
            - rejected
        proposed_by_organization_id:
          type:
            - string
            - "null"
        proposed_by_email:
          type:
            - string
            - "null"
          format: email
          description: Contributor email, returned only to registry moderators and AgenticAdvertising.org administrators.
        proposed_at:
          type: string
          format: date-time
        reviewed_at:
          type:
            - string
            - "null"
          format: date-time
        review_notes:
          type:
            - string
            - "null"
        published_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - platform
        - adagents_json
        - catalog_etag
        - superseded_by
        - proposal_digest
        - base_mirror_digest
        - status
        - proposed_by_organization_id
        - proposed_at
        - reviewed_at
        - review_notes
        - published_at
        - created_at
        - updated_at
    CommunityMirrorAdagentsJson:
      type: object
      properties:
        $schema:
          type: string
          format: uri
        authorized_agents:
          type: array
          items:
            $ref: "#/components/schemas/AdagentsAuthorizedAgent"
          maxItems: 0
          description: Always empty for community mirrors; these catalogs never assert sales authorization.
        properties:
          type: array
          items:
            type: object
            additionalProperties: {}
            description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
        catalog_etag:
          type: string
        formats:
          type: array
          items:
            type: object
            additionalProperties: {}
            description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
        placements:
          type: array
          items:
            type: object
            additionalProperties: {}
            description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
        placement_tags:
          type: object
          additionalProperties: {}
        collections:
          type: array
          items:
            type: object
            additionalProperties: {}
            description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
        signals:
          type: array
          items:
            type: object
            additionalProperties: {}
            description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
        signal_tags:
          type: object
          additionalProperties: {}
        contact: {}
        superseded_by:
          type: string
          pattern: ^https:\/\/
          description: HTTPS URL for the canonical successor adagents.json document. Clients should re-fetch the successor and update cached mirror references before retiring use of this mirror.
        last_updated:
          type: string
          format: date-time
      required:
        - authorized_agents
      additionalProperties: {}
    CommunityMirrorProposalApprovalResponse:
      allOf:
        - $ref: "#/components/schemas/CommunityMirrorPublishResponse"
        - type: object
          properties:
            proposal_id:
              type: string
              format: uuid
              description: Opaque identifier for the proposal.
              example: 4ec8bc86-6180-4d0e-aa72-9cbf402d3638
          required:
            - proposal_id
    CommunityMirrorPublishResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        platform:
          type: string
          pattern: ^[a-z0-9_-]{1,64}$
          description: Lowercase platform identifier, normalized by the service.
          example: example_platform
        catalog_etag:
          type:
            - string
            - "null"
        superseded_by:
          type:
            - string
            - "null"
          pattern: ^https:\/\/
          description: HTTPS successor document URL, when this mirror has been superseded.
        publisher_domains:
          type: array
          items:
            type: string
          description: Publisher domains updated from this community mirror catalog.
        updated_at:
          type: string
          format: date-time
      required:
        - success
        - platform
        - catalog_etag
        - superseded_by
        - publisher_domains
        - updated_at
    CommunityMirrorPublishError:
      type: object
      properties:
        error:
          type: string
        details:
          type: array
          items: {}
          description: Validation details for request-body parse failures or adagents.json conformance errors.
      required:
        - error
    CommunityMirrorProposalReviewRequest:
      type: object
      properties:
        proposal_digest:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: SHA-256 digest that reviewers must echo when approving or rejecting this exact revision.
        review_notes:
          type: string
          maxLength: 2000
      required:
        - proposal_digest
    CommunityMirrorProposalDecisionResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        proposal:
          $ref: "#/components/schemas/CommunityMirrorProposal"
      required:
        - success
        - proposal
    CommunityMirrorProposalRejectRequest:
      type: object
      properties:
        proposal_digest:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: SHA-256 digest that reviewers must echo when approving or rejecting this exact revision.
        review_notes:
          type: string
          minLength: 1
          maxLength: 2000
      required:
        - proposal_digest
        - review_notes
    CommunityMirrorListResponse:
      type: object
      properties:
        mirrors:
          type: array
          items:
            $ref: "#/components/schemas/CommunityMirrorSummary"
        total:
          type: integer
          minimum: 0
      required:
        - mirrors
        - total
    CommunityMirrorSummary:
      type: object
      properties:
        platform:
          type: string
          pattern: ^[a-z0-9_-]{1,64}$
          description: Lowercase platform identifier, normalized by the service.
          example: example_platform
        catalog_etag:
          type:
            - string
            - "null"
        superseded_by:
          type:
            - string
            - "null"
          pattern: ^https:\/\/
          description: HTTPS successor document URL, when this mirror has been superseded.
        updated_at:
          type: string
          format: date-time
      required:
        - platform
        - catalog_etag
        - superseded_by
        - updated_at
    CommunityMirrorGetResponse:
      type: object
      properties:
        platform:
          type: string
          pattern: ^[a-z0-9_-]{1,64}$
          description: Lowercase platform identifier, normalized by the service.
          example: example_platform
        catalog_etag:
          type:
            - string
            - "null"
        superseded_by:
          type:
            - string
            - "null"
          pattern: ^https:\/\/
          description: HTTPS successor document URL, when this mirror has been superseded.
        adagents_json:
          $ref: "#/components/schemas/CommunityMirrorAdagentsJson"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - platform
        - catalog_etag
        - superseded_by
        - adagents_json
        - created_at
        - updated_at
    CommunityMirrorProposalSubmissionResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        status:
          type: string
          enum:
            - pending
        proposal_id:
          type: string
          format: uuid
          description: Opaque identifier for the proposal.
          example: 4ec8bc86-6180-4d0e-aa72-9cbf402d3638
        proposal_digest:
          type: string
          pattern: ^[a-f0-9]{64}$
          description: SHA-256 digest that reviewers must echo when approving or rejecting this exact revision.
        platform:
          type: string
          pattern: ^[a-z0-9_-]{1,64}$
          description: Lowercase platform identifier, normalized by the service.
          example: example_platform
        status_url:
          type: string
          description: Authenticated API path for fetching proposal status and content.
        submitted_at:
          type: string
          format: date-time
      required:
        - success
        - status
        - proposal_id
        - proposal_digest
        - platform
        - status_url
        - submitted_at
    CommunityMirrorPublishRequest:
      anyOf:
        - type: object
          properties:
            catalog_etag:
              type: string
              minLength: 1
              maxLength: 255
            formats:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
              minItems: 1
            properties:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placements:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placement_tags:
              type: object
              additionalProperties: {}
            collections:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signals:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signal_tags:
              type: object
              additionalProperties: {}
            contact: {}
            superseded_by:
              type: string
              pattern: ^https:\/\/
              description: HTTPS URL for the canonical successor adagents.json document. Set this before deleting a mirror so buyers can migrate cached references.
          required:
            - formats
          additionalProperties: {}
        - type: object
          properties:
            catalog_etag:
              type: string
              minLength: 1
              maxLength: 255
            formats:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            properties:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
              minItems: 1
            placements:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placement_tags:
              type: object
              additionalProperties: {}
            collections:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signals:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signal_tags:
              type: object
              additionalProperties: {}
            contact: {}
            superseded_by:
              type: string
              pattern: ^https:\/\/
              description: HTTPS URL for the canonical successor adagents.json document. Set this before deleting a mirror so buyers can migrate cached references.
          required:
            - properties
          additionalProperties: {}
        - type: object
          properties:
            catalog_etag:
              type: string
              minLength: 1
              maxLength: 255
            formats:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            properties:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placements:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
              minItems: 1
            placement_tags:
              type: object
              additionalProperties: {}
            collections:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signals:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signal_tags:
              type: object
              additionalProperties: {}
            contact: {}
            superseded_by:
              type: string
              pattern: ^https:\/\/
              description: HTTPS URL for the canonical successor adagents.json document. Set this before deleting a mirror so buyers can migrate cached references.
          required:
            - placements
          additionalProperties: {}
        - type: object
          properties:
            catalog_etag:
              type: string
              minLength: 1
              maxLength: 255
            formats:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            properties:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placements:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placement_tags:
              type: object
              additionalProperties: {}
            collections:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
              minItems: 1
            signals:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signal_tags:
              type: object
              additionalProperties: {}
            contact: {}
            superseded_by:
              type: string
              pattern: ^https:\/\/
              description: HTTPS URL for the canonical successor adagents.json document. Set this before deleting a mirror so buyers can migrate cached references.
          required:
            - collections
          additionalProperties: {}
        - type: object
          properties:
            catalog_etag:
              type: string
              minLength: 1
              maxLength: 255
            formats:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            properties:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placements:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            placement_tags:
              type: object
              additionalProperties: {}
            collections:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
            signals:
              type: array
              items:
                type: object
                additionalProperties: {}
                description: Protocol-defined catalog object. See the adagents.json JSON Schema for the authoritative nested shape.
              minItems: 1
            signal_tags:
              type: object
              additionalProperties: {}
            contact: {}
            superseded_by:
              type: string
              pattern: ^https:\/\/
              description: HTTPS URL for the canonical successor adagents.json document. Set this before deleting a mirror so buyers can migrate cached references.
          required:
            - signals
          additionalProperties: {}
      description: Catalog-only adagents.json body for a community mirror. At least one of `formats`, `properties`, `placements`, `collections`, or `signals` must be present and non-empty. The service regenerates `$schema` and `last_updated` before persisting.
    CommunityMirrorDeleteResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        platform:
          type: string
          pattern: ^[a-z0-9_-]{1,64}$
          description: Lowercase platform identifier, normalized by the service.
          example: example_platform
      required:
        - success
        - platform
    PolicySummary:
      type: object
      properties:
        policy_id:
          type: string
          example: gdpr_consent
        version:
          type: string
          example: 1.0.0
        name:
          type: string
          example: GDPR Consent Requirements
        description:
          type:
            - string
            - "null"
          example: Requirements for valid consent under GDPR
        category:
          type: string
          enum:
            - regulation
            - standard
        enforcement:
          type: string
          enum:
            - must
            - should
            - may
        jurisdictions:
          type: array
          items:
            type: string
          example:
            - EU
            - EEA
        region_aliases:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            EU:
              - DE
              - FR
              - IT
        policy_categories:
          type: array
          items:
            type: string
          example:
            - age_restricted
            - pharmaceutical_advertising
        channels:
          type:
            - array
            - "null"
          items:
            type: string
          example:
            - display
            - video
        governance_domains:
          type: array
          items:
            type: string
          example:
            - campaign
            - creative
        effective_date:
          type:
            - string
            - "null"
          example: 2025-05-25
        sunset_date:
          type:
            - string
            - "null"
        source_url:
          type:
            - string
            - "null"
          example: https://eur-lex.europa.eu/eli/reg/2016/679/oj
        source_name:
          type:
            - string
            - "null"
          example: EUR-Lex
        issuer:
          type:
            - object
            - "null"
          properties:
            domain:
              type: string
            name:
              type: string
          required:
            - domain
          description: Machine-readable identity of the authoritative policy issuer
        source_type:
          type: string
          enum:
            - registry
            - community
        review_status:
          type: string
          enum:
            - pending
            - approved
        created_at:
          type: string
          example: 2026-03-01T12:00:00.000Z
        updated_at:
          type: string
          example: 2026-03-01T12:00:00.000Z
      required:
        - policy_id
        - version
        - name
        - description
        - category
        - enforcement
        - jurisdictions
        - region_aliases
        - policy_categories
        - channels
        - governance_domains
        - effective_date
        - sunset_date
        - source_url
        - source_name
        - issuer
        - source_type
        - review_status
        - created_at
        - updated_at
    Policy:
      type: object
      properties:
        policy_id:
          type: string
          example: gdpr_consent
        version:
          type: string
          example: 1.0.0
        name:
          type: string
          example: GDPR Consent Requirements
        description:
          type:
            - string
            - "null"
          example: Requirements for valid consent under GDPR
        category:
          type: string
          enum:
            - regulation
            - standard
        enforcement:
          type: string
          enum:
            - must
            - should
            - may
        jurisdictions:
          type: array
          items:
            type: string
          example:
            - EU
            - EEA
        region_aliases:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            EU:
              - DE
              - FR
              - IT
        policy_categories:
          type: array
          items:
            type: string
          example:
            - age_restricted
            - pharmaceutical_advertising
        channels:
          type:
            - array
            - "null"
          items:
            type: string
          example:
            - display
            - video
        governance_domains:
          type: array
          items:
            type: string
          example:
            - campaign
            - creative
        effective_date:
          type:
            - string
            - "null"
          example: 2025-05-25
        sunset_date:
          type:
            - string
            - "null"
        source_url:
          type:
            - string
            - "null"
          example: https://eur-lex.europa.eu/eli/reg/2016/679/oj
        source_name:
          type:
            - string
            - "null"
          example: EUR-Lex
        issuer:
          type:
            - object
            - "null"
          properties:
            domain:
              type: string
            name:
              type: string
          required:
            - domain
          description: Machine-readable identity of the authoritative policy issuer
        acceptance_profile:
          type:
            - object
            - "null"
          properties:
            profile_id:
              type: string
              pattern: ^[A-Za-z0-9_.:-]+$
            version:
              type: string
              minLength: 1
            content_digest:
              type: string
              pattern: ^sha256:[a-f0-9]{64}$
            policy_refs:
              type: array
              items:
                type: object
                properties:
                  policy_id:
                    type: string
                    minLength: 1
                  version:
                    type: string
                    minLength: 1
                  content_digest:
                    type: string
                    pattern: ^sha256:[a-f0-9]{64}$
                required:
                  - policy_id
                  - version
                  - content_digest
                additionalProperties: false
              minItems: 1
            coverage:
              type: string
              enum:
                - partial
                - complete
            scope:
              type: object
              properties:
                subject_categories:
                  type: array
                  items:
                    type: string
                    pattern: ^[a-z][a-z0-9_]*$
                  minItems: 1
                applies_to:
                  type: array
                  items:
                    type: string
                    enum:
                      - account
                      - media_buy
                      - creative
                      - landing_page
                      - targeting
                      - delivery
                      - format
                  minItems: 1
                jurisdictions:
                  type: array
                  items:
                    type: string
                    pattern: ^[A-Z]{2}$
                  minItems: 1
                jurisdiction_groups:
                  type: array
                  items:
                    type: string
                    pattern: ^[A-Z][A-Z0-9_-]*$
                  minItems: 1
                all_jurisdictions:
                  type: boolean
                  enum:
                    - true
              required:
                - subject_categories
                - applies_to
              additionalProperties: false
            region_aliases:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
                  pattern: ^[A-Z]{2}$
                minItems: 1
            description:
              type: string
              minLength: 1
            rules:
              type: array
              items:
                type: object
                properties:
                  rule_id:
                    type: string
                    pattern: ^[A-Za-z0-9_.:-]+$
                  subject_category:
                    type: string
                    pattern: ^[a-z][a-z0-9_]*$
                  subject_facets:
                    type: array
                    items:
                      type: string
                      pattern: ^[a-z][a-z0-9_]*$
                    minItems: 1
                  advertiser_roles:
                    type: array
                    items:
                      type: string
                      pattern: ^[a-z][a-z0-9_]*$
                    minItems: 1
                  jurisdictions:
                    type: array
                    items:
                      type: string
                      pattern: ^[A-Z]{2}$
                    minItems: 1
                  jurisdiction_groups:
                    type: array
                    items:
                      type: string
                      pattern: ^[A-Z][A-Z0-9_-]*$
                    minItems: 1
                  applies_to:
                    type: array
                    items:
                      type: string
                      enum:
                        - account
                        - media_buy
                        - creative
                        - landing_page
                        - targeting
                        - delivery
                        - format
                    minItems: 1
                  disposition:
                    type: string
                    enum:
                      - allowed
                      - conditional
                      - prohibited
                  requirements:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - category_declaration
                            declaration:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                          required:
                            - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - advertiser_verification
                            verification_scheme:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                          required:
                            - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - advertiser_eligibility
                            criteria:
                              type: array
                              items:
                                type: string
                                pattern: ^[a-z][a-z0-9_.:-]*$
                              minItems: 1
                            description:
                              type: string
                              minLength: 1
                          required:
                            - kind
                            - criteria
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - funding_restriction
                            criteria:
                              type: array
                              items:
                                type: string
                                pattern: ^[a-z][a-z0-9_.:-]*$
                              minItems: 1
                            description:
                              type: string
                              minLength: 1
                          required:
                            - kind
                            - criteria
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - certification
                            credential:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                          required:
                            - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - license
                            credential:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                          required:
                            - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - prior_authorization
                            description:
                              type: string
                              minLength: 1
                          required:
                            - kind
[...]
