openapi: 3.1.0
info:
  title: AgenticAdvertising.org Registry API
  description: |-
    Public REST API for the AgenticAdvertising.org registry. Resolve brands,
    discover properties, look up agents, and validate authorization in the
    AdCP ecosystem.

    All endpoints listed here are public and require no authentication.

    **Base URL:** `https://agenticadvertising.org`

    **Rate limits:** Bulk resolve endpoints are limited to 20 requests per minute
    per IP address. All other endpoints are unmetered.
  version: 1.0.0
  contact:
    name: AgenticAdvertising.org
    url: https://agenticadvertising.org
servers:
  - url: https://agenticadvertising.org
    description: Production
security: []
components:
  schemas:
    ResolvedBrand:
      type: object
      properties:
        canonical_id:
          type: string
          example: acmecorp.com
        canonical_domain:
          type: string
          example: acmecorp.com
        brand_name:
          type: string
          example: Acme Corp
        names:
          type: array
          items:
            $ref: "#/components/schemas/LocalizedName"
        keller_type:
          type: string
          enum:
            - master
            - sub_brand
            - endorsed
            - independent
        parent_brand:
          type: string
        house_domain:
          type: string
        house_name:
          type: string
        brand_agent_url:
          type: string
        brand_manifest:
          type: object
          additionalProperties: {}
        source:
          type: string
          enum:
            - brand_json
            - community
            - enriched
      required:
        - canonical_id
        - canonical_domain
        - brand_name
        - source
    LocalizedName:
      type: object
      additionalProperties:
        type: string
    Error:
      type: object
      properties:
        error:
          type: string
      required:
        - error
    BrandRegistryItem:
      type: object
      properties:
        domain:
          type: string
          example: acmecorp.com
        brand_name:
          type: string
          example: Acme Corp
        source:
          type: string
          enum:
            - hosted
            - brand_json
            - community
            - enriched
        has_manifest:
          type: boolean
        verified:
          type: boolean
        house_domain:
          type: string
        keller_type:
          type: string
          enum:
            - master
            - sub_brand
            - endorsed
            - independent
      required:
        - domain
        - source
        - has_manifest
        - verified
    BrandActivity:
      type: object
      properties:
        domain:
          type: string
          example: acmecorp.com
        total:
          type: integer
          example: 3
        revisions:
          type: array
          items:
            type: object
            properties:
              revision_number:
                type: integer
                example: 3
              editor_name:
                type: string
                example: Pinnacle Media
              edit_summary:
                type: string
                example: Updated logo and brand colors
              source:
                type: string
                description: Source type of the record at the time of this revision (brand_json, enriched, community)
              is_rollback:
                type: boolean
              rolled_back_to:
                type: integer
                description: Revision number that was restored; only present when is_rollback is true
              created_at:
                type: string
                example: 2026-03-01T12:34:56Z
            required:
              - revision_number
              - editor_name
              - edit_summary
              - is_rollback
              - created_at
      required:
        - domain
        - total
        - revisions
    PropertyActivity:
      type: object
      properties:
        domain:
          type: string
          example: examplepub.com
        total:
          type: integer
          example: 3
        revisions:
          type: array
          items:
            type: object
            properties:
              revision_number:
                type: integer
                example: 3
              editor_name:
                type: string
                example: Pinnacle Media
              edit_summary:
                type: string
                example: Updated logo and brand colors
              source:
                type: string
                description: Source type of the record at the time of this revision (brand_json, enriched, community)
              is_rollback:
                type: boolean
              rolled_back_to:
                type: integer
                description: Revision number that was restored; only present when is_rollback is true
              created_at:
                type: string
                example: 2026-03-01T12:34:56Z
            required:
              - revision_number
              - editor_name
              - edit_summary
              - is_rollback
              - created_at
      required:
        - domain
        - total
        - revisions
    ResolvedProperty:
      type: object
      properties:
        publisher_domain:
          type: string
          example: examplepub.com
        source:
          type: string
          enum:
            - adagents_json
            - hosted
            - discovered
        authorized_agents:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              authorized_for:
                type: string
            required:
              - url
        properties:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              name:
                type: string
              identifiers:
                type: array
                items:
                  $ref: "#/components/schemas/PropertyIdentifier"
              tags:
                type: array
                items:
                  type: string
        contact:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
        verified:
          type: boolean
      required:
        - publisher_domain
        - source
        - verified
    PropertyIdentifier:
      type: object
      properties:
        type:
          type: string
          example: domain
        value:
          type: string
          example: examplepub.com
      required:
        - type
        - value
    PropertyRegistryItem:
      type: object
      properties:
        domain:
          type: string
          example: examplepub.com
        source:
          type: string
          enum:
            - adagents_json
            - hosted
            - community
            - discovered
            - enriched
        property_count:
          type: integer
        agent_count:
          type: integer
        verified:
          type: boolean
      required:
        - domain
        - source
        - property_count
        - agent_count
        - verified
    ValidationResult:
      type: object
      properties:
        valid:
          type: boolean
        domain:
          type: string
        url:
          type: string
        errors:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string
        status_code:
          type: integer
        raw_data:
          type: object
          additionalProperties: {}
      required:
        - valid
    FederatedAgentWithDetails:
      type: object
      properties:
        url:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
            - creative
            - signals
            - sales
            - governance
            - si
            - unknown
        protocol:
          type: string
          enum:
            - mcp
            - a2a
        description:
          type: string
        mcp_endpoint:
          type: string
        contact:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            website:
              type: string
          required:
            - name
            - email
            - website
        added_date:
          type: string
        source:
          type: string
          enum:
            - registered
            - discovered
        member:
          type: object
          properties:
            slug:
              type: string
            display_name:
              type: string
        discovered_from:
          type: object
          properties:
            publisher_domain:
              type: string
            authorized_for:
              type: string
        health:
          $ref: "#/components/schemas/AgentHealth"
        stats:
          $ref: "#/components/schemas/AgentStats"
        capabilities:
          $ref: "#/components/schemas/AgentCapabilities"
        publisher_domains:
          type: array
          items:
            type: string
        property_summary:
          $ref: "#/components/schemas/PropertySummary"
      required:
        - url
        - name
        - type
    AgentHealth:
      type: object
      properties:
        online:
          type: boolean
        checked_at:
          type: string
        response_time_ms:
          type: number
        tools_count:
          type: integer
        resources_count:
          type: integer
        error:
          type: string
      required:
        - online
        - checked_at
    AgentStats:
      type: object
      properties:
        property_count:
          type: integer
        publisher_count:
          type: integer
        publishers:
          type: array
          items:
            type: string
        creative_formats:
          type: integer
    AgentCapabilities:
      type: object
      properties:
        tools_count:
          type: integer
        tools:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
            required:
              - name
              - description
        standard_operations:
          type: object
          properties:
            can_search_inventory:
              type: boolean
            can_get_availability:
              type: boolean
            can_reserve_inventory:
              type: boolean
            can_get_pricing:
              type: boolean
            can_create_order:
              type: boolean
            can_list_properties:
              type: boolean
          required:
            - can_search_inventory
            - can_get_availability
            - can_reserve_inventory
            - can_get_pricing
            - can_create_order
            - can_list_properties
        creative_capabilities:
          type: object
          properties:
            formats_supported:
              type: array
              items:
                type: string
            can_generate:
              type: boolean
            can_validate:
              type: boolean
            can_preview:
              type: boolean
          required:
            - formats_supported
            - can_generate
            - can_validate
            - can_preview
      required:
        - tools_count
    PropertySummary:
      type: object
      properties:
        total_count:
          type: integer
        count_by_type:
          type: object
          additionalProperties:
            type: integer
        tags:
          type: array
          items:
            type: string
        publisher_count:
          type: integer
      required:
        - total_count
        - count_by_type
        - tags
        - publisher_count
    FederatedPublisher:
      type: object
      properties:
        domain:
          type: string
        source:
          type: string
          enum:
            - registered
            - discovered
        member:
          type: object
          properties:
            slug:
              type: string
            display_name:
              type: string
        agent_count:
          type: integer
        last_validated:
          type: string
        discovered_from:
          type: object
          properties:
            agent_url:
              type: string
        has_valid_adagents:
          type: boolean
        discovered_at:
          type: string
      required:
        - domain
    DomainLookupResult:
      type: object
      properties:
        domain:
          type: string
          example: examplepub.com
        authorized_agents:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              authorized_for:
                type: string
              source:
                type: string
                enum:
                  - registered
                  - discovered
              member:
                type: object
                properties:
                  slug:
                    type: string
                  display_name:
                    type: string
            required:
              - url
        sales_agents_claiming:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              source:
                type: string
                enum:
                  - registered
                  - discovered
              member:
                type: object
                properties:
                  slug:
                    type: string
                  display_name:
                    type: string
            required:
              - url
      required:
        - domain
        - authorized_agents
        - sales_agents_claiming
    PublisherPropertySelector:
      type: object
      properties:
        publisher_domain:
          type: string
          example: examplepub.com
        property_types:
          type: array
          items:
            type: string
        property_ids:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
paths:
  /api:
    get:
      operationId: apiDiscovery
      summary: API discovery
      description: Returns links to the main API entry points and documentation.
      tags:
        - Search
      responses:
        "200":
          description: API discovery information
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  version:
                    type: string
                  documentation:
                    type: string
                  openapi:
                    type: string
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
                required:
                  - name
                  - version
                  - documentation
                  - openapi
                  - endpoints
  /api/brands/resolve:
    get:
      operationId: resolveBrand
      summary: Resolve brand
      description: Resolve a domain to its canonical brand identity. Follows brand.json redirects and returns the resolved brand with its house, architecture type, and optional manifest.
      tags:
        - Brand Resolution
      parameters:
        - schema:
            type: string
            example: acmecorp.com
          required: true
          name: domain
          in: query
        - schema:
            type: string
            enum:
              - "true"
              - "false"
          required: false
          name: fresh
          in: query
      responses:
        "200":
          description: Brand resolved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolvedBrand"
        "404":
          description: Brand not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  domain:
                    type: string
                  file_status:
                    type: number
                    description: HTTP status code from brand.json fetch (e.g. 404 vs 200 with invalid data)
                required:
                  - error
                  - domain
  /api/brands/resolve/bulk:
    post:
      operationId: resolveBrandsBulk
      summary: Bulk resolve brands
      description: |-
        Resolve up to 100 domains to their canonical brand identities in a single request.

        **Rate limit:** 20 requests per minute per IP address.
      tags:
        - Brand Resolution
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  maxItems: 100
              required:
                - domains
      responses:
        "200":
          description: Bulk resolution results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    additionalProperties:
                      allOf:
                        - $ref: "#/components/schemas/ResolvedBrand"
                        - type:
                            - object
                            - "null"
                required:
                  - results
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/brands/brand-json:
    get:
      operationId: getBrandJson
      summary: Get brand.json
      description: Fetch the raw brand.json file for a domain.
      tags:
        - Brand Resolution
      parameters:
        - schema:
            type: string
            example: acmecorp.com
          required: true
          name: domain
          in: query
        - schema:
            type: string
            enum:
              - "true"
              - "false"
          required: false
          name: fresh
          in: query
      responses:
        "200":
          description: Raw brand.json data
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: string
                  url:
                    type: string
                  variant:
                    type: string
                  data:
                    type: object
                    additionalProperties: {}
                  warnings:
                    type: array
                    items:
                      type: string
                required:
                  - domain
                  - url
                  - data
        "404":
          description: Brand not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/brands/save:
    post:
      operationId: saveBrand
      summary: Save brand
      description: Save or update a brand in the registry. Requires authentication. For existing brands, creates a revision-tracked edit. For new brands, creates the brand directly. Cannot edit authoritative brands managed via brand.json.
      tags:
        - Brand Resolution
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  example: acmecorp.com
                brand_name:
                  type: string
                  example: Acme Corp
                brand_manifest:
                  type: object
                  additionalProperties: {}
              required:
                - domain
                - brand_name
      responses:
        "200":
          description: Brand saved or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  message:
                    type: string
                  domain:
                    type: string
                  id:
                    type: string
                  revision_number:
                    type: integer
                required:
                  - success
                  - message
                  - domain
                  - id
        "400":
          description: Missing required fields or invalid domain
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Cannot edit authoritative brand
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/brands/registry:
    get:
      operationId: listBrands
      summary: List brands
      description: List all brands in the registry with optional search, pagination.
      tags:
        - Brand Resolution
      parameters:
        - schema:
            type: string
          required: false
          name: search
          in: query
        - schema:
            type: string
            example: "100"
          required: false
          name: limit
          in: query
        - schema:
            type: string
            example: "0"
          required: false
          name: offset
          in: query
      responses:
        "200":
          description: Brand list with stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  brands:
                    type: array
                    items:
                      $ref: "#/components/schemas/BrandRegistryItem"
                  stats:
                    type: object
                    properties:
                      total:
                        type: integer
                      brand_json:
                        type: integer
                      hosted:
                        type: integer
                      community:
                        type: integer
                      enriched:
                        type: integer
                    required:
                      - total
                      - brand_json
                      - hosted
                      - community
                      - enriched
                required:
                  - brands
                  - stats
  /api/brands/history:
    get:
      operationId: getBrandHistory
      summary: Brand activity history
      description: Returns the edit history for a brand in the registry, newest first. Only brands with community or enriched edits have history; brand.json-sourced brands are authoritative and do not generate revisions.
      tags:
        - Brand Resolution
      parameters:
        - schema:
            type: string
            example: acmecorp.com
          required: true
          name: domain
          in: query
        - schema:
            type: string
            example: "20"
          required: false
          name: limit
          in: query
        - schema:
            type: string
            example: "0"
          required: false
          name: offset
          in: query
      responses:
        "200":
          description: Brand activity history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandActivity"
        "400":
          description: domain parameter required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Brand not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  domain:
                    type: string
                required:
                  - error
                  - domain
  /api/brands/enrich:
    get:
      operationId: enrichBrand
      summary: Enrich brand
      description: Enrich brand data using Brandfetch. Returns logo, colors, and company information.
      tags:
        - Brand Resolution
      parameters:
        - schema:
            type: string
            example: acmecorp.com
          required: true
          name: domain
          in: query
      responses:
        "200":
          description: Enrichment data from Brandfetch
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: {}
        "503":
          description: Brandfetch not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/properties/history:
    get:
      operationId: getPropertyHistory
      summary: Property activity history
      description: Returns the edit history for a property in the registry, newest first.
      tags:
        - Property Resolution
      parameters:
        - schema:
            type: string
            example: examplepub.com
          required: true
          name: domain
          in: query
        - schema:
            type: string
            example: "20"
          required: false
          name: limit
          in: query
        - schema:
            type: string
            example: "0"
          required: false
          name: offset
          in: query
      responses:
        "200":
          description: Property activity history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyActivity"
        "400":
          description: domain parameter required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  domain:
                    type: string
                required:
                  - error
                  - domain
  /api/properties/resolve:
    get:
      operationId: resolveProperty
      summary: Resolve property
      description: Resolve a publisher domain to its property information. Checks hosted properties, discovered properties, then live adagents.json validation.
      tags:
        - Property Resolution
      parameters:
        - schema:
            type: string
            example: examplepub.com
          required: true
          name: domain
          in: query
      responses:
        "200":
          description: Property resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolvedProperty"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  domain:
                    type: string
                required:
                  - error
                  - domain
  /api/properties/resolve/bulk:
    post:
      operationId: resolvePropertiesBulk
      summary: Bulk resolve properties
      description: |-
        Resolve up to 100 publisher domains at once.

        **Rate limit:** 20 requests per minute per IP address.
      tags:
        - Property Resolution
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  maxItems: 100
              required:
                - domains
      responses:
        "200":
          description: Bulk resolution results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    additionalProperties:
                      allOf:
                        - $ref: "#/components/schemas/ResolvedProperty"
                        - type:
                            - object
                            - "null"
                required:
                  - results
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/properties/registry:
    get:
      operationId: listProperties
      summary: List properties
      description: List all properties in the registry with optional search, pagination.
      tags:
        - Property Resolution
      parameters:
        - schema:
            type: string
          required: false
          name: search
          in: query
        - schema:
            type: string
            example: "100"
          required: false
          name: limit
          in: query
        - schema:
            type: string
            example: "0"
          required: false
          name: offset
          in: query
      responses:
        "200":
          description: Property list with stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    type: array
                    items:
                      $ref: "#/components/schemas/PropertyRegistryItem"
                  stats:
                    type: object
                    additionalProperties: {}
                required:
                  - properties
                  - stats
  /api/properties/validate:
    get:
      operationId: validateProperty
      summary: Validate adagents.json
      description: Validate a domain's adagents.json file and return the validation result.
      tags:
        - Property Resolution
      parameters:
        - schema:
            type: string
            example: examplepub.com
          required: true
          name: domain
          in: query
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResult"
  /api/properties/save:
    post:
      operationId: saveProperty
      summary: Save property
      description: Save or update a hosted property in the registry. Requires authentication. For existing properties, creates a revision-tracked edit. For new properties, creates the property directly. Cannot edit authoritative properties managed via adagents.json.
      tags:
        - Property Resolution
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                publisher_domain:
                  type: string
                  example: examplepub.com
                authorized_agents:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      authorized_for:
                        type: string
                    required:
                      - url
                  example:
                    - url: https://agent.example.com
                properties:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      name:
                        type: string
                    required:
                      - type
                      - name
                  example:
                    - type: website
                      name: Example Publisher
                contact:
                  type: object
                  properties:
                    name:
                      type: string
                    email:
                      type: string
              required:
                - publisher_domain
                - authorized_agents
      responses:
        "200":
          description: Property saved or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  message:
                    type: string
                  id:
                    type: string
                  revision_number:
                    type: integer
                required:
                  - success
                  - message
                  - id
        "400":
          description: Missing required fields or invalid domain
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Cannot edit authoritative property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/properties/check:
    post:
      operationId: checkPropertyList
      summary: Check property list
      description: |-
        Check a list of publisher domains against the AAO registry. Normalizes domains (strips www/m prefixes), removes duplicates, flags known ad tech infrastructure, and identifies domains not yet in the registry.

        Returns four buckets:
        - **remove**: duplicates or known blocked domains (ad servers, CDNs, trackers, intermediaries)
        - **modify**: domains that were normalized (e.g. www.example.com → example.com)
        - **assess**: unknown domains not in registry, not blocked
        - **ok**: domains found in registry with no changes needed

        Results are stored for 7 days and retrievable via the `report_id`.
      tags:
        - Property Resolution
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  maxItems: 10000
                  example:
                    - www.nytimes.com
                    - googlesyndication.com
                    - wsj.com
              required:
                - domains
      responses:
        "200":
          description: Property list check results
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      remove:
                        type: integer
                      modify:
                        type: integer
                      assess:
                        type: integer
                      ok:
                        type: integer
                    required:
                      - total
                      - remove
                      - modify
                      - assess
                      - ok
                  remove:
                    type: array
                    items:
                      type: object
                      properties:
                        input:
                          type: string
                        canonical:
                          type: string
                        reason:
                          type: string
                          enum:
                            - duplicate
                            - blocked
                        domain_type:
                          type: string
                        blocked_reason:
                          type: string
                      required:
                        - input
                        - canonical
                        - reason
                  modify:
                    type: array
                    items:
                      type: object
                      properties:
                        input:
                          type: string
                        canonical:
                          type: string
                        reason:
                          type: string
                      required:
                        - input
                        - canonical
                        - reason
                  assess:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                      required:
                        - domain
                  ok:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        source:
                          type: string
                      required:
                        - domain
                        - source
                  report_id:
                    type: string
                    description: UUID for retrieving this report later
                required:
                  - summary
                  - remove
                  - modify
                  - assess
                  - ok
                  - report_id
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/properties/check/{reportId}:
    get:
      operationId: getPropertyCheckReport
      summary: Get property check report
      description: Retrieve a previously stored property check report by ID. Reports expire after 7 days.
      tags:
        - Property Resolution
      parameters:
        - schema:
            type: string
          required: true
          name: reportId
          in: path
      responses:
        "200":
          description: Property check report
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      remove:
                        type: integer
                      modify:
                        type: integer
                      assess:
                        type: integer
                      ok:
                        type: integer
                    required:
                      - total
                      - remove
                      - modify
                      - assess
                      - ok
                required:
                  - summary
        "404":
          description: Report not found or expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/registry/agents:
    get:
      operationId: listAgents
      summary: List agents
      description: List all registered and discovered agents. Optionally enrich with health checks, capabilities, and property summaries via query parameters.
      tags:
        - Agent Discovery
      parameters:
        - schema:
            type: string
            enum:
              - creative
              - signals
              - sales
              - governance
              - si
              - unknown
          required: false
          name: type
          in: query
        - schema:
            type: string
            enum:
              - "true"
          required: false
          name: health
          in: query
        - schema:
            type: string
            enum:
              - "true"
          required: false
          name: capabilities
          in: query
        - schema:
            type: string
            enum:
              - "true"
          required: false
          name: properties
          in: query
      responses:
        "200":
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/FederatedAgentWithDetails"
                  count:
                    type: integer
                  sources:
                    type: object
                    properties:
                      registered:
                        type: integer
                      discovered:
                        type: integer
                    required:
                      - registered
                      - discovered
                required:
                  - agents
                  - count
                  - sources
  /api/registry/publishers:
    get:
      operationId: listPublishers
      summary: List publishers
      description: List all registered and discovered publishers.
      tags:
        - Agent Discovery
      responses:
        "200":
          description: Publisher list
          content:
            application/json:
              schema:
                type: object
                properties:
                  publishers:
                    type: array
                    items:
                      $ref: "#/components/schemas/FederatedPublisher"
                  count:
                    type: integer
                  sources:
                    type: object
                    properties:
                      registered:
                        type: integer
                      discovered:
                        type: integer
                    required:
                      - registered
                      - discovered
                required:
                  - publishers
                  - count
                  - sources
  /api/registry/stats:
    get:
      operationId: getRegistryStats
      summary: Registry statistics
      description: Get aggregate statistics about the registry.
      tags:
        - Agent Discovery
      responses:
        "200":
          description: Registry statistics
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: {}
  /api/registry/lookup/domain/{domain}:
    get:
      operationId: lookupDomain
      summary: Domain lookup
      description: Find all agents authorized for a given publisher domain.
      tags:
        - Lookups & Authorization
      parameters:
        - schema:
            type: string
            example: examplepub.com
          required: true
          name: domain
          in: path
      responses:
        "200":
          description: Domain lookup result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainLookupResult"
  /api/registry/lookup/property:
    get:
      operationId: lookupProperty
      summary: Property identifier lookup
      description: Find agents that hold a specific property identifier.
      tags:
        - Lookups & Authorization
      parameters:
        - schema:
            type: string
          required: true
          name: type
          in: query
        - schema:
            type: string
          required: true
          name: value
          in: query
      responses:
        "200":
          description: Matching agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  value:
                    type: string
                  agents:
                    type: array
                    items: {}
                  count:
                    type: integer
                required:
                  - type
                  - value
                  - agents
                  - count
  /api/registry/lookup/agent/{agentUrl}/domains:
    get:
      operationId: getAgentDomains
      summary: Agent domain lookup
      description: Get all publisher domains associated with an agent.
      tags:
        - Lookups & Authorization
      parameters:
        - schema:
            type: string
          required: true
          name: agentUrl
          in: path
      responses:
        "200":
          description: Domains for the agent
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_url:
                    type: string
                  domains:
                    type: array
                    items:
                      type: string
                  count:
                    type: integer
                required:
                  - agent_url
                  - domains
                  - count
  /api/registry/validate/product-authorization:
    post:
      operationId: validateProductAuthorization
      summary: Validate product authorization
      description: Check whether an agent is authorized to sell a product based on its publisher_properties.
      tags:
        - Lookups & Authorization
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_url:
                  type: string
                publisher_properties:
                  type: array
                  items:
                    $ref: "#/components/schemas/PublisherPropertySelector"
              required:
                - agent_url
                - publisher_properties
      responses:
        "200":
          description: Authorization validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_url:
                    type: string
                  authorized:
                    type: boolean
                  checked_at:
                    type: string
                required:
                  - agent_url
                  - authorized
                  - checked_at
                additionalProperties: {}
  /api/registry/expand/product-identifiers:
    post:
      operationId: expandProductIdentifiers
      summary: Expand product identifiers
      description: Expand publisher_properties selectors into concrete property identifiers for caching.
      tags:
        - Lookups & Authorization
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_url:
                  type: string
                publisher_properties:
                  type: array
                  items:
                    $ref: "#/components/schemas/PublisherPropertySelector"
              required:
                - agent_url
                - publisher_properties
      responses:
        "200":
          description: Expanded identifiers
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_url:
                    type: string
                  properties:
                    type: array
                    items: {}
                  identifiers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        value:
                          type: string
                        property_id:
                          type: string
                        publisher_domain:
                          type: string
                      required:
                        - type
                        - value
                        - property_id
                        - publisher_domain
                  property_count:
                    type: integer
                  identifier_count:
                    type: integer
                  generated_at:
                    type: string
                required:
                  - agent_url
                  - properties
                  - identifiers
                  - property_count
                  - identifier_count
                  - generated_at
  /api/registry/validate/property-authorization:
    get:
      operationId: validatePropertyAuthorization
      summary: Property authorization check
      description: Quick check if a property identifier is authorized for an agent. Optimized for real-time ad request validation.
      tags:
        - Lookups & Authorization
      parameters:
        - schema:
            type: string
          required: true
          name: agent_url
          in: query
        - schema:
            type: string
          required: true
          name: identifier_type
          in: query
        - schema:
            type: string
          required: true
          name: identifier_value
          in: query
      responses:
        "200":
          description: Authorization result
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_url:
                    type: string
                  identifier_type:
                    type: string
                  identifier_value:
                    type: string
                  authorized:
                    type: boolean
                  checked_at:
                    type: string
                required:
                  - agent_url
                  - identifier_type
                  - identifier_value
                  - authorized
                  - checked_at
                additionalProperties: {}
  /api/adagents/validate:
    post:
      operationId: validateAdagents
      summary: Validate adagents.json
      description: Validate a domain's adagents.json file and optionally validate referenced agent cards.
      tags:
        - Validation Tools
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
              required:
                - domain
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      domain:
                        type: string
                      found:
                        type: boolean
                      validation: {}
                      agent_cards: {}
                    required:
                      - domain
                      - found
                  timestamp:
                    type: string
                required:
                  - success
                  - data
                  - timestamp
  /api/adagents/create:
    post:
      operationId: createAdagents
      summary: Generate adagents.json
      description: Generate a valid adagents.json file from a list of authorized agents.
      tags:
        - Validation Tools
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                authorized_agents:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      authorized_for:
                        type: string
                    required:
                      - url
                include_schema:
                  type: boolean
                include_timestamp:
                  type: boolean
                properties:
                  type: array
                  items: {}
              required:
                - authorized_agents
      responses:
        "200":
          description: Generated adagents.json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                      adagents_json: {}
                      validation: {}
                    required:
                      - success
                  timestamp:
                    type: string
                required:
                  - success
                  - data
                  - timestamp
  /api/search:
    get:
      operationId: search
      summary: Search
      description: Search across brands, publishers, and properties. Returns up to 5 results per category.
      tags:
        - Search
      parameters:
        - schema:
            type: string
            minLength: 2
          required: true
          name: q
          in: query
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  brands:
                    type: array
                    items: {}
                  publishers:
                    type: array
                    items: {}
                  properties:
                    type: array
                    items: {}
                required:
                  - brands
                  - publishers
                  - properties
  /api/manifest-refs/lookup:
    get:
      operationId: lookupManifestRef
      summary: Manifest reference lookup
      description: Find the best manifest reference (brand.json URL or agent) for a domain.
      tags:
        - Search
      parameters:
        - schema:
            type: string
            example: acmecorp.com
          required: true
          name: domain
          in: query
        - schema:
            type: string
            example: brand.json
          required: false
          name: type
          in: query
      responses:
        "200":
          description: Reference lookup result
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      found:
                        type: boolean
                        enum:
                          - true
                      reference:
                        type: object
                        properties:
                          reference_type:
                            type: string
                            enum:
                              - url
                              - agent
                          manifest_url:
                            type:
                              - string
                              - "null"
                          agent_url:
                            type:
                              - string
                              - "null"
                          agent_id:
                            type:
                              - string
                              - "null"
                          verification_status:
                            type: string
                            enum:
                              - pending
                              - valid
                              - invalid
                              - unreachable
                        required:
                          - reference_type
                          - manifest_url
                          - agent_url
                          - agent_id
                          - verification_status
                    required:
                      - success
                      - found
                      - reference
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - false
                      found:
                        type: boolean
                        enum:
                          - false
                    required:
                      - success
                      - found
  /api/public/discover-agent:
    get:
      operationId: discoverAgent
      summary: Discover agent
      description: Probe an agent URL to discover its name, type, supported protocols, and basic statistics.
      tags:
        - Agent Probing
      parameters:
        - schema:
            type: string
          required: true
          name: url
          in: query
      responses:
        "200":
          description: Discovered agent info
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  protocols:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                  stats:
                    type: object
                    properties:
                      format_count:
                        type: integer
                      product_count:
                        type: integer
                      publisher_count:
                        type: integer
                required:
                  - name
                  - protocols
                  - type
                  - stats
        "504":
          description: Connection timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                required:
                  - error
                  - message
  /api/public/agent-formats:
    get:
      operationId: getAgentFormats
      summary: Get agent formats
      description: Fetch creative formats from a creative agent.
      tags:
        - Agent Probing
      parameters:
        - schema:
            type: string
          required: true
          name: url
          in: query
      responses:
        "200":
          description: Creative formats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  formats:
                    type: array
                    items: {}
                required:
                  - success
                  - formats
  /api/public/agent-products:
    get:
      operationId: getAgentProducts
      summary: Get agent products
      description: Fetch products from a sales agent.
      tags:
        - Agent Probing
      parameters:
        - schema:
            type: string
          required: true
          name: url
          in: query
      responses:
        "200":
          description: Products
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items: {}
                required:
                  - success
                  - products
  /api/public/validate-publisher:
    get:
      operationId: validatePublisher
      summary: Validate publisher
      description: Validate a publisher domain's adagents.json and return summary statistics.
      tags:
        - Agent Probing
      parameters:
        - schema:
            type: string
            example: examplepub.com
          required: true
          name: domain
          in: query
      responses:
        "200":
          description: Publisher validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  domain:
                    type: string
                  url:
                    type: string
                  agent_count:
                    type: integer
                  property_count:
                    type: integer
                  property_type_counts:
                    type: object
                    additionalProperties:
                      type: integer
                  tag_count:
                    type: integer
                  errors:
                    type: array
                    items:
                      type: string
                  warnings:
                    type: array
                    items:
                      type: string
                required:
                  - valid
                  - domain
                  - agent_count
                  - property_count
                  - property_type_counts
                  - tag_count
tags:
  - name: Brand Resolution
    description: Resolve advertiser domains to canonical brand identities.
  - name: Property Resolution
    description: Resolve publisher domains to their property configurations and authorized agents.
  - name: Agent Discovery
    description: Browse the federated agent network, publisher index, and registry statistics.
  - name: Lookups & Authorization
    description: Look up agents by domain or property, and validate ad-serving authorization.
  - name: Validation Tools
    description: Validate publisher adagents.json files and generate compliant configurations.
  - name: Search
    description: Cross-entity search across brands, publishers, agents, and properties.
  - name: Agent Probing
    description: Connect to live agents and inspect their capabilities, formats, and inventory.
