{
  "openapi": "3.0.3",
  "info": {
    "title": "Signals Agent API",
    "version": "2.2.0",
    "description": "The Signals Agent API implements the Signals Protocol, enabling AI agents to discover and activate audience signals for targeting.",
    "contact": {
      "name": "AdCP Support",
      "url": "https://adcontextprotocol.org",
      "email": "support@adcontextprotocol.org"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://signalsagent.adcontextprotocol.org",
      "description": "Signals Agent API Server"
    }
  ],
  "paths": {
    "/mcp/v1/get_signals": {
      "post": {
        "summary": "Get Signals",
        "description": "Retrieve audience signals (segments, cohorts, audiences) based on natural language criteria.",
        "operationId": "get_signals",
        "tags": [
          "Signal Discovery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://adcontextprotocol.org/schemas/v1/signals/get-signals-request.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://adcontextprotocol.org/schemas/v1/signals/get-signals-response.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://adcontextprotocol.org/schemas/v1/core/error.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://adcontextprotocol.org/schemas/v1/core/error.json"
                }
              }
            }
          }
        }
      }
    },
    "/mcp/v1/activate_signal": {
      "post": {
        "summary": "Activate Signal",
        "description": "Activate an audience signal for use in targeting.",
        "operationId": "activate_signal",
        "tags": [
          "Signal Activation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://adcontextprotocol.org/schemas/v1/signals/activate-signal-request.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://adcontextprotocol.org/schemas/v1/signals/activate-signal-response.json"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://adcontextprotocol.org/schemas/v1/core/error.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://adcontextprotocol.org/schemas/v1/core/error.json"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Signal Discovery"
    },
    {
      "name": "Signal Activation"
    }
  ]
}